{
  "Servers": {
    "1": {
      "Name": "Nextcloud Database",
      "Group": "Servers",
      "Host": "postgres",
      "Port": 5432,
      "Username": "${POSTGRES_USER}",
      "Password": "${POSTGRES_PASSWORD}",
      "SSLMode": "prefer",
      "MaintenanceDB": "postgres"
    }
  }
}
